{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur la page d'accueil!</h1>
        <p>C'est ici que vous pouvez afficher du contenu spécifique à la page d'accueil.</p>
 
    </div>
{% endblock %}
